<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb"><head>
    <meta charset="utf-8">
    <link href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}"
          rel="icon" type="image/png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Library</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
          rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet" />
    <link href="../static/css/light-bootstrap-dashboard.css?v=2.0.0" th:href="@{/css/light-bootstrap-dashboard.css?v=2.0.0}"
          rel="stylesheet" />
    <link href="../static/css/demo.css" th:href="@{/css/demo.css}"
          rel="stylesheet" />

    <style id="__web-inspector-hide-shortcut-style__">
    .__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
    {
        visibility: hidden !important;
    }
</style>
</head>

<body>
<div class="wrapper">

    <div class="sidebar"
    data-image="https://cdn.pixabay.com/photo/2021/01/16/15/52/mountains-5922550_960_720.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">
                <div class="simple-text">
                    Library
                </div>
            </div>
            <ul class="nav nav-mobile-menu">
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        <span class="no-icon">Log out</span>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="./user.html">
                        <i class="nc-icon nc-circle-09"></i>
                        <p>Books</p>
                    </a>
                </li>
                <li >
                    <a class="nav-link" href="./table.html">
                        <i class="nc-icon nc-notes"></i>
                        <p>Categories</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="./typography.html">
                        <i class="nc-icon nc-paper-2"></i>
                        <p>Authors</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="./icons.html">
                        <i class="nc-icon nc-atom"></i>
                        <p>Publishers</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="./maps.html">
                        <i class="nc-icon nc-pin-3"></i>
                        <p>Readers</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="./notifications.html">
                        <i class="nc-icon nc-bell-55"></i>
                        <p>Borrow</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="./notifications.html">
                        <i class="nc-icon nc-bell-55"></i>
                        <p>Address info</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-background" style="background-image: url(../static/img/sidebar-5.jpg) "></div></div>
    <div class="main-panel">
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card  card-tasks">
                        <div class="card-header" style="vertical-align: center;">
                            <div style="display: flex; align-items: center;">
                                <h4 class="card-title">Books</h4>
                                <div class="button-container" style="margin-left: auto;">
                                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro"
                                       target="_blank" class="btn btn-warning btn-block btn-fill">Add book</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="table-full-width">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Book ID</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Category</th>
                                        <th>Publisher</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${books.empty}">
                                        <td colspan="2"> No Books Available </td>
                                    </tr>
                                    <tr th:each="book : ${books}">
                                        <td><span th:text="${book.idBook}"> </span></td>
                                        <td><span th:text="${book.title}">  </span></td>
                                        <td><span th:text="${book.authorName}">  </span></td>
                                        <td><span th:text="${book.categoryName}">  </span></td>
                                        <td><span th:text="${book.publisher}">  </span></td>
                                        <td class="td-actions">
                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-link" data-original-title="Edit Task"
                                                    style = "padding-left: 0;">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-link" data-original-title="Remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>

                                    </tr>
                                   <!-- <tr>
                                        <td>1</td>
                                        <td>Arta subtila a nepasarii</td>
                                        <td>Unknown</td>
                                        <td>Drama</td>
                                        <td>Astral</td>
                                        <td class="td-actions">
                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-link" data-original-title="Edit Task"
                                            style = "padding-left: 0;">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-link" data-original-title="Remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>

                                    </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   Core JS Files   -->
<script src="../static/js/core/jquery.3.2.1.min.js" th:src="@{/js/core/jquery.3.2.1.min.js}"></script>
<script src="../static/js/core/popper.min.js" th:src="@{/static/js/core/popper.min.js}"></script>
<script src="../static/js/core/bootstrap.min.js" th:src="@{/js/core/bootstrap.min.js}"></script>
<script src="../static/js/plugins/bootstrap-switch.js" th:src="@{/js/plugins/bootstrap-switch.js}"></script>
<script src="../static/js/plugins/chartist.min.js" th:src="@{/js/plugins/chartist.min.js}"></script>
<script src="../static/js/plugins/bootstrap-notify.js" th:src="@{/js/plugins/bootstrap-notify.js}"></script>
<script src="../static/js/light-bootstrap-dashboard.js?v=2.0.0" th:src="@{/js/light-bootstrap-dashboard.js?v=2.0.0}"></script>
<script src="../static/js/demo.js" th:src="@{/js/demo.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js

    });
</script>